<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单结算</title>
    <link rel="stylesheet" href="/js/elementui/elementui.css">
    <link rel="stylesheet" href="/css/count/erp_billing.css">
    <link rel="stylesheet" href="/css/iconfont/iconfont.css">
</head>
<body>
<section id="erpBilling">
<div class="erp-billing-title">
    <span class="erp-billing-color">未支付订单</span><span style="padding: 0 3px;">/</span><span>144556678</span><span style="padding-left: 3px;">订单结算</span>
</div>
<div class="erp-billing-content">
    <!-- 查询会员信息 -->
    <div class="input-card error-state"> <!-- 错误状态添加 error-state ,否则去掉 -->
        <section class="title">会员卡号/联盟卡号/手机号：</section>
        <section class="input-box">
            <input type="text" class="input" />
        </section>
        <section class="btn-box">
            <button class="erp-billing-bg-color sure">确定</button>
        </section>
        <span class="tips erp-billing-red" style="padding-left: 20px;">您的帐号错误，请重新输入</span>
    </div>
    <!-- 会员信息 -->
    <div class="vip-msg">
        <section class="head" style="background-image: url(../imgs/floor2-3.jpg)"></section>
        <section style="overflow: hidden;">
            <section class="name text">昵称：46464</section>
            <section class="card-number text">联盟卡号：46464</section>
            <section class="phone text">手机：46464</section>
            <section class="integral text">联盟积分：46464</section>
            <section class="type text">类型：次卡</section>
            <section class="grade text">等级：VIP1</section>
            <section class="balance text">余额：46464</section>
        </section>
    </div>
    <!-- 选择抵扣优惠 -->
    <div class="select-discount-type erp-billing-border-margin">
        <div class="erp-billing-item-title">选择抵扣优惠</div>
        <!--<div class="discount-box-nomsg">
            <div class="icon"><i class="el-icon-warning"></i></div>
            <p>您当前还未有会员优惠信息，请先领取优惠券、粉币，或直接消费以获得会员积分。</p>
        </div>-->
        <div class="discount-box">
             <div class="coupon-box">
                 <ul>
                     <li class="coupon-item">
                         <i class="arrow erp-billing-border" style="left: -8px;"></i>
                         <i class="arrow erp-billing-border" style="right: -8px;"></i>
                         <section class="content erp-billing-bg-color">
                             <p class="title">9折</p>
                             <p class="dps">多粉折扣券<span style="margin-left: 20px;">x1</span></p>
                         </section>
                         <section class="erp-billing-color">已选择 ×5</section>
                     </li>
                     <li class="coupon-item">
                         <i class="arrow erp-billing-border" style="left: -8px;"></i>
                         <i class="arrow erp-billing-border" style="right: -8px;"></i>
                         <section class="content erp-billing-border erp-billing-color">
                             <p class="title">9折</p>
                             <p class="dps">多粉折扣券<span style="margin-left: 20px;">x1</span></p>
                         </section>
                     </li>
                 </ul>
             </div>
            <ul class="jf-and-fb">
                <li class="erp-billing-color">
                   <div class="box erp-billing-bg-color">
                       <p class="title">31粉币</p>
                       <p>（2111元）</p>
                   </div>
                    <p>已抵扣2111元</p>
                </li>
                <li class=" erp-billing-color">
                    <div class="box  erp-billing-border">
                        <p class="title">31粉币</p>
                        <p>（2111元）</p>
                    </div>
                    <p>已抵扣21111元</p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 请选择联盟 -->
    <div class="select-union erp-billing-border-margin">
        <div class="erp-billing-item-title">请选择联盟</div>
        <div class="union-box">
            <ul class="union-list">
                <li class="union-title  erp-billing-border erp-billing-bg-color" title="联盟1">联盟1</li>
                <li class="union-title erp-billing-border" title="联盟1">联盟2</li>
            </ul>
            <div class="union-msg-box">
                <ul class="union-msg">
                    <li class="union-msg-item"><span class="union-msg-text">等级：</span>黑卡</li>
                    <li class="union-msg-item"><span class="union-msg-text">有效期：</span>30天</li>
                    <li class="union-msg-item"><span class="union-msg-text">该联盟的折扣为：</span>7折</li>
                    <li class="union-msg-item"><span class="union-msg-text">联盟折扣优惠：</span>￥-900</li>
                    <li class="union-msg-item"><span class="union-msg-text">联盟积分抵扣：</span>
                        <div class="gt-form-switch" style="display: inline-block;">
                            <input class="switch small-switch" type="checkbox" value="未启用" />
                        </div>
                    </li>
                    <li class="union-msg-item"><span class="union-msg-text">联盟积分优惠：</span>
                        <span>￥-3.00（消耗联盟积分：110，最大抵扣比例：30%）</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 结算 -->
    <div class="billing-msg erp-billing-border-margin">
        <div class="erp-billing-item-title">结算</div>
        <ul class="billing-msg-box">
            <li class="item">
                <span class="title">消费金额：</span>
                <span>￥-900</span>
            </li>
            <li class="item">
                <span class="title">优惠金额：</span>
                <span>￥-900</span>
                <!--<span style="padding-left: 5px;">联盟卡折扣：7折</span>-->
                <span style="padding-left: 5px;">（消耗优惠劵：2张、粉币：31、积分：456）</span>
            </li>
            <li class="item">
                <span class="title">应收金额：</span>
                <span class="erp-billing-red" style="font-size: 23px;">￥-900</span>
                <botton @click="changePrice()" class="erp-billing-bg-color btn">改价处理</botton>
            </li>
        </ul>
    </div>
    <!-- 选择支付方式 -->
    <div class="pay-type erp-billing-border-margin">
        <div class="erp-billing-item-title">选择支付方式</div>
        <div class="pay-box">
            <ul class="pay-icon">
                <li class="item erp-billing-bg-color erp-billing-border">
                    <p class="icon-p"><i class="iconfont">&#xe62b;</i></p>
                    <p>现金支付</p>
                </li>
                <li @click="scanCodePayMent()" class="item erp-billing-border erp-billing-color">
                    <p class="icon-p"><i class="iconfont">&#xe630;</i></p>
                    <p>扫码支付</p>
                </li>
                <li class="item erp-billing-border erp-billing-color">
                    <p class="icon-p"><i class="iconfont">&#xe61d;</i></p>
                    <p>POS机支付</p>
                </li>
                <li @click="moBoxPay()" class="item erp-billing-border erp-billing-color">
                    <p class="icon-p"><i class="iconfont">&#xe682;</i></p>
                    <p>魔盒支付</p>
                </li>
                <li @click="billingOrder()" class="item erp-billing-border erp-billing-color">
                    <p class="icon-p"><i class="iconfont">&#xe737;</i></p>
                    <p>挂账</p>
                </li>
            </ul>
            <ul class="pay-tips">
                <!--现金支付-->
                <li class="cash-tips">
                    <div>
                        <button class="btn erp-billing-bg-color" style="margin-right: 25px;">抹零</button>
                        <p style="display: inline">
                            <span>已抹零：</span>
                            <span class="erp-billing-red" style="font-size: 23px;vertical-align: bottom;">￥-900</span>
                        </p>
                    </div>
                    <div class="item-title">
                        <span>输入收取金额：</span>
                        <input class="input" type="text" />
                        <p style="display: inline">
                            <span style="margin-left: 25px;">找零：</span>
                            <span class="erp-billing-red" style="font-size: 23px;vertical-align: baseline;">￥-900</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="submit-content">
        <button @click="submitOrderMsg()" class="btn erp-billing-bg-color">确认</button>
        <button class="btn cancle">取消</button>
    </div>
    <button @click="dialogDiscountTypeVisible = true">选择优惠方式</button>
</div>
<el-dialog title="改价处理" :visible.sync="dialogChangePriceVisible" size="640px" :close-on-click-modal="false">
    <div class="smzf-dialogs-box">
        <el-form  label-width="90px">
            <el-form-item label="原价格："> 266.00</el-form-item>
            <el-form-item label="改价金额：">
                <el-input style="width: 200px;"></el-input>
            </el-form-item>
            <el-form-item label="改价备注：">
                <el-input style="width: 200px;"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer" style="float: right;">
            <el-button type="primary" @click="changePriceSure()">确 定</el-button>
        </span>
    </div>
</el-dialog>
<el-dialog title="改价超额" :visible.sync="dialogChangePriceOverVisible" size="560px" :close-on-click-modal="false">
    <div class="smzf-dialogs-box" style="text-align: center;padding-bottom: 0">
        <img style="width: 180px;height: 180px;" src="../imgs/floor2-3.jpg" />
        <p style="margin-top: 30px;">请授权人微信扫描授权</p>
        <button @click="changePriceSuccess()">授权改价成功提示框</button>
    </div>
</el-dialog>
<!-- 授权改价成功  -->
<el-dialog :visible.sync="dialogChangePriceSuccessVisible" size="400px" top="30%" :close-on-click-modal="false" :show-close="false" >
    <div class="smzf-dialogs-box" style="text-align: center;padding-bottom: 0">
       <div style="position: relative;padding-top: 20px;">
           <i class="el-icon-circle-check" style="font-size: 36px;color: #34d063;position: absolute; left: 0px;"></i>
           <p style="text-align: left; padding-left: 50px;">授权成功 ！</p>
           <p style="text-align: left; padding-left: 50px;color: #666">请继续完成结算</p>
       </div>
        <span slot="footer" class="dialog-footer" style="float: right;padding-top: 30px;">
            <el-button type="primary" @click="changePriceSuccessSure()">确 定</el-button>
        </span>
    </div>
</el-dialog>

<el-dialog title="扫描支付" :visible.sync="dialogScanCodePayMentVisible" size="590px" :close-on-click-modal="false">
    <div class="smzf-dialogs-box">
        <div class="left">
            <p class="title">方式1：顾客扫码支付</p>
            <img src="../imgs/floor2-3.jpg" />
        </div>
        <div class="right">
            <p class="title">方式2：营业员输入</p>
            <p> <input type="text" class="input" placeholder="请使用扫码枪扫描或键盘输入付款码" /> </p>
            <p style="text-align: right"><button class="btn erp-billing-bg-color">确认</button></p>
        </div>
    </div>
</el-dialog>
<!--魔盒支付弹框-->
<el-dialog title="选择支付方式" :visible.sync="dialogmoBoxPayVisible" size="590px" top="30%" :close-on-click-modal="false">
    <el-radio-group v-model="moBoxPayType">
        <el-radio :label="1" style="margin-right: 60px;">微信</el-radio>
        <el-radio :label="2">支付宝</el-radio>
    </el-radio-group>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="moBoxPaySure()">确 定</el-button>
        <el-button @click="dialogmoBoxPayVisible = false">取 消</el-button>
    </div>
</el-dialog>
<!--选择优惠方式弹框-->
<el-dialog title="选择优惠方式" :visible.sync="dialogDiscountTypeVisible" size="409px" top="30%" :close-on-click-modal="false">
    <el-radio-group v-model="discountType">
        <el-radio :label="1" style="margin-right: 60px;">会员卡</el-radio>
        <el-radio :label="2">联盟卡</el-radio>
    </el-radio-group>
    <div slot="footer" class="dialog-footer">
        <el-button type="primary" @click="">确 定</el-button>
        <el-button @click="dialogDiscountTypeVisible = false">取 消</el-button>
    </div>
</el-dialog>
<el-dialog title="请选择挂账方式" :visible.sync="dialogBillingOrderVisible" size="590px" :close-on-click-modal="false">
    <div class="smzf-dialogs-box">
        <div class="left" style="height: 275px;">
            <p class="title">方式1：现场扫码授权</p>
            <img src="../imgs/floor2-3.jpg" />
            <p style="margin-top: 20px;">请使用授权人微信扫码授权</p>
        </div>
        <div class="right">
            <p class="title">方式2：非现场授权</p>
            <p>
                <el-select v-model="nameAndPhone" placeholder="请选择活动区域">
                    <el-option label="小强（1348740787）" value="xiaoqiang"></el-option>
                    <el-option label="小强22（1348740787）" value="beijing"></el-option>
                </el-select>
            </p>
            <p style="margin-top: 39px;margin-right: 10px;">提示：授权通过，十分钟后有效</p>
            <p style="text-align: right"><button class="btn erp-billing-bg-color">确认发送</button></p>
        </div>
    </div>
</el-dialog>
    <!--支付成功提示-->
<el-dialog title="提示" :visible.sync="submitOrderMsgSuccess" size="530px" top="20%" :close-on-click-modal="false">
    <div class="smzf-dialogs-box" style="text-align: center;padding-bottom: 0">
        <div style="position: relative;padding-top: 20px;">
            <i class="el-icon-circle-check" style="font-size: 36px;color: #34d063;position: absolute; left: 0px;"></i>
            <p style="text-align: left; padding-left: 50px;">支付成功</p>
            <p style="text-align: left; padding-left: 50px;color: #666">3秒后返回首页</p>
        </div>
    </div>
    <div slot="footer" class="dialog-footer" style="padding-bottom: 40px;padding-top: 60px;">
        <el-button type="primary" @click="moBoxPaySure()">确 定</el-button>
        <el-button @click="submitOrderMsgSuccess = false">取 消</el-button>
    </div>
</el-dialog>
</section>
<script src="../js/vue.min.js"></script>
<script src="../js/elementui/elementui.js"></script>
<script>

    new Vue({
      el:'#erpBilling',
      data:{
        dialogChangePriceVisible:false,
        dialogChangePriceOverVisible:false,
        dialogScanCodePayMentVisible:false,
        dialogChangePriceSuccessVisible:false,
        dialogBillingOrderVisible:false,
        nameAndPhone:'xiaoqiang',
        dialogmoBoxPayVisible:false,
        moBoxPayType:1,
        submitOrderMsgSuccess:false,
        dialogDiscountTypeVisible:false,
        discountType:1
      },
      methods:{
        changePrice:function(){
          console.log('改价处理')
          this.dialogChangePriceVisible =true
        },
        changePriceSure:function(){
          console.log('确认改价')
          // this.dialogChangePriceVisible =false
          this.dialogChangePriceOverVisible = true
        },
        changePriceSuccess:function() {
          console.log('授权改价成功')
          this.dialogChangePriceSuccessVisible=true
        },
        changePriceSuccessSure:function(){
          console.log('授权改价成功确认')
          this.dialogChangePriceSuccessVisible = false
        },
        scanCodePayMent:function(){
          console.log('扫码支付')
          this.dialogScanCodePayMentVisible =true

        },
        moBoxPay:function(){
          console.log('魔盒支付')
          this.dialogmoBoxPayVisible =true
        },
        moBoxPaySure:function(){
          console.log('魔盒支付确认')
        },
        billingOrder:function(){
          console.log('挂账')
          this.dialogBillingOrderVisible =true
        },
        submitOrderMsg:function(){
          console.log('支付成功提示')
          this.submitOrderMsgSuccess = true

        }
      }
    })
</script>
</body>
</html>