<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title> 主页 </title>
  <link href="../../static/css/vendor.css?c1c782fbcf537cb8f9d2" rel="stylesheet"><link href="../../static/css/views/home/list.css?c1c782fbcf537cb8f9d2" rel="stylesheet"></head>
  <body>
    <div id="app">
		
	</div>
    <!-- built files will be auto injected -->
  <script type="text/javascript" src="../../static/js/vendor.js?c1c782fbcf537cb8f9d2"></script><script type="text/javascript" src="../../static/js/views/home/list.js?c1c782fbcf537cb8f9d2"></script></body>
</html>
