<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新增会员</title>
<link href="../../static/css/vendor.css?c1c782fbcf537cb8f9d2" rel="stylesheet"><link href="../../static/css/views/workBench/index.css?c1c782fbcf537cb8f9d2" rel="stylesheet"></head>
<body>
    <div id="app">
        <router-view></router-view>
    </div>
<script type="text/javascript" src="../../static/js/vendor.js?c1c782fbcf537cb8f9d2"></script><script type="text/javascript" src="../../static/js/views/workBench/index.js?c1c782fbcf537cb8f9d2"></script></body>
</html>